@CHARSET "UTF-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,h1,h2,h3,h4,h5{font-family:'Malgun Gothic','맑은 고딕',AppleSDGothicNeo-Light,sans-serif;font-size:14px;line-height:1.25em;vertical-align:middle;}
body{position:relative;color:#000;-webkit-text-size-adjust:none}
a{text-decoration:none;}
#main {
	min-width:800px;
	margin:20px;
}

#desc_top {
	line-height:2em;
	margin-bottom:20px;
}

#desc_bottom {
	width:100%;
}

#display {
	width:100%;
	height:200px;
	margin-top:5px;
}

#footer {
	min-width: 980px;
	width: 100%;
	margin:4px 0 0 0;
	bottom: 0px;
	background-color: #2a2d33;
	text-align: right;
	height: 30px;
	color: #ffffff;
}

.copyright {
	font-size: 12px;
	margin-right: 20px;
	padding-top: 5px;
}

.btn_demo {
	color: #fff;
	background-color: #2a2d33;
	border: 1px solid #2a2d33;
	background-clip: padding-box;
	display: inline-block;
	padding: 0.65em 1.5em;
	line-height: 0.933em;
	transition-property: background-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	border-radius: 0px;
	-webkit-appearance: none;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin: 0.5em 0.5em;
	cursor:pointer;
}

.btn_demo:hover {
	background-color: #505156;
}

.tabe_item {
	width:200px;
	cursor:pointer;
	display: inline-block;
	margin-bottom: 0px;
	padding: 0.75em 2em;
	line-height: 1.2;
	color: #000;
	-webkit-appearance: none;
	font-weight: bold;
	text-align: center;
}
.tabe_item_selected {
	z-index:2;
	border:1px solid #565e60;
	border-bottom:none;
	color:#565e60;
}
	
pre,xmp {
	font-family: 'Malgun Gothic','Dotum',AppleSDGothicNeo-Light,sans-serif;
	display: block;
    padding: 8px;
    margin: 0 0 4px;
    font-size: 13px;
    line-height: 1.4;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}